.portada-contacto {
  height: 75vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background-image: url("../img/Kawa desert.jpeg");
  background-size: cover;
  background-position: center;
}