.portada-galeria {
    background-color: rgb(71, 67, 67);
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__img {
        object-fit: cover
    }
}



@media (min-width: 768px) {

    .portada-galeria__carousel {
        height: 65vh;
        width: 99vw;
    }
}




@media (min-width: 1024px) {


    .portada-galeria__carousel {
        height: 60vh;
        width: 80vw;
    }
}