.portada-servicios {
    height: 75vh;
    background-image: url(../img/Kawa-best.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__titulo {
        background-color: rgba(246, 242, 242, 0.951);
        text-align: center;
        border: solid 4px wheat;
        font-size: 1.1rem;
    }
}



.tarjeta-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
    height: 99vh;
    width: 95vw;
    gap: 9px;

    &__cuerpo {
        background-color: rgba(247, 242, 242, 0.892);
        border: 4px solid wheat;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        box-shadow: 12px 12px 5px;
        font-size: 0.5rem;
        height: 30vh;
        width: 45vw;

        &__titulo {
            font-size: 1rem;
        }
    }
}



@media (min-width: 768px) {


    .tarjeta-servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 50px;
        padding-left: 25px;
        gap: 15px;

        &__cuerpo {
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 27vh;
        }
    }
}


@media (min-width: 1024px) {


    .tarjeta-servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-left: 7px;
        padding-bottom: 20px;

        &__cuerpo {
            font-size: .9rem;
            width: 47vw;
            height: 30vh;
        }
    }
}