.header {
    background-color: rgb(167, 196, 89);
    text-shadow: 7px 7px 15px;

    &__titulo {
        font-size: 1.3rem;
        text-shadow: 7px 7px 15px;
    }
}


.nav-item {
    font-size: .8rem;
    text-shadow: 7px 7px 15px;
}

.nav-item:hover {
    transform: scale(1.2);
}



@media (min-width: 768px) {



    .header {
        display: flex;
        flex-direction: column;

        &__titulo {
            font-size: 1.8rem;
            text-shadow: 7px 7px 15px;
        }
    }

    .nav-item {
        font-size: 1rem;
    }

    .navbar-nav {
        gap: 25px;
    }
}