header {
    background-color: rgb(167, 196, 89);

}

navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}



@media (min-width: 768px) {



    header {
        display: flex;
        flex-direction: column;
    }


    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}