.header {
    background-color: rgb(167, 196, 89);

}


.header__titulo {
    text-shadow: 7px 7px 15px;
}



.nav-item:hover{
    transform: scale(1.4);
  }



@media (min-width: 768px) {



    .header {
        display: flex;
        flex-direction: column;
    }


    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}